@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* website container width  */
.container {
  max-width: 1280px;
  margin: 0 auto;
};

/* common color  */
.commonColor {
  color : #EF3D32 ;
}
.commonBg {
  background : #EF3D32 ;
}

/* title css  */
.title-section-header{
  position: relative;
  text-align: center;
  font-weight: 600;
}
.title-section-header::after{
  content: '';
  position: absolute;
  left:50%;
  bottom: -60px;
  transform: translate(-50% , -50%);
  background: url('https://i.ibb.co/pfP9QpN/section-Before.png');
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:40px;
} 

.motivate-card{
  border: 1px solid #EF3D32;
}
.motivate-card:nth-child(2){
  background-color: #f1f1f1;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 80px;
}
.motivate-card:nth-child(1){
  
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.motivate-card:nth-child(3){
  
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* title css end */

.position-card{
  position: sticky !important;
}